<sly data-sly-use.model="hr.strmecki.demo.models.SimpleBannerModel"></sly>

<simple-banner id="${model.id}"></simple-banner>

<p class="header-title-2">${model.title @ context='scriptString'}</p>

<script>
    var simpleBannerComponent = document.getElementById("${model.id @ context='unsafe'}");
    simpleBannerComponent.title = '${model.title @ context='scriptString'}';
    simpleBannerComponent.backgroundImage = '${model.backgroundImage @ context='scriptString'}';
    simpleBannerComponent.textColor = '${model.textColor @ context='scriptString'}';
</script>